:root {
    /*colors primary*/
    --dark-blue: hsl(198, 77%, 17%);
    --netbialet-color-primary: #28377d;
    --netbialet-color-secondary: #70c8e9;
    /*colors neutral*/
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --just-white: #fff;
    /*typography*/
    --font-size: 16px;
    --font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    min-width: 320px;
    position: relative;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.main-container { /* ocupa todo el ancho de la pantalla */
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.header-container {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
    align-items: center;
    background-color: var(--netbialet-color-primary);
    background-image: url("assets/fonts/fondo-telarania.svg");
    position: fixed;
    border-bottom: 2px solid #000;
}

.logo-netbialet {
    width: 180px;
}

.nav-container ul{
    display: flex;
    gap: 20px;
}

.nav-container ul a {
    color: var(--just-white);
    font-size: 16px;
    letter-spacing: 0.9px;
}

.border-nav {
    border-right: 2px solid var(--just-white);
    padding-right: 16px;
}

.nav-container ul a:hover {
    font-weight: bold;
}

.hero-container {
    width: auto;
    height: 600px;
    transition: 200ms;
    margin: 0 auto;
}

.img-container {
    height: 100%;
    width: 100%;
    overflow: hidden; 
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.article-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #000;
    background-color: var(--netbialet-color-primary);
    padding: 20px;
}

.article-container__img-container {
    height: 100%;
    width:50%;
    overflow: hidden;
}

.article-container__img-container img {
    height:100%;
    width:100%;
    object-fit: cover;
}

.article-container_text-box {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    height:440px;
    width:50%;
    text-align:center;
    padding:20px;
    margin: auto;
    font-size: 16px;
}

.article-container__text-box h2 {
    color: var(--just-white);
    margin:25px;
}

.article-container__text-box p {
    color: var(--just-white);
    margin-bottom:25px;   
}

#nosotros, #contenedor {
    flex-direction: row-reverse;
}


.clients-container {
    text-align: center;
    height: 500px;
    background-color: var(--dark-blue);
    background-image: url("assets/fonts/fondo-telarania.svg");
    padding: 30px;
}

.clients-container iframe{
    width: 70%;
    height: 100%;
    border: 10px solid #000;
}

.footer-container {
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
    margin: 0 auto;
    align-items: center;
    border-top: 2px solid #000;
    background-color: var(--netbialet-color-primary);
}

.footer-container__text-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.footer-container p {
    color: var(--just-white);
    font-size: 18px;
}

.social_networks-container {
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 20px;
    width: 100%;
}

.social_networks-container li svg path {
    fill: var(--netbialet-color-secondary);
    transition: 300ms ease-out;
}

.social_networks-container li svg {
    width: 70px;
    border-radius: 100%;
    border: 1px solid var(--netbialet-color-secondary);
    transition: 300ms ease-out;
    padding: 8px;
}

.social_networks-container li svg:hover {
    border: 1px solid var(--just-white);
}

.social_networks-container li:hover svg path {
    fill: var(--just-white);
}

/*MEDIA QUERY */

@media only screen and (min-width: 640px) {

}

@media only screen and (min-width: 820px) {

}

/*ANIMACIONES */

@keyframes netbialet {
    netbialet {
        
    }
}